ion-content {
  --background: #fff;
}

ion-item {
  --background: transparent;
  font-size: 17px;
  --padding-start: 12px;
  --inner-padding-end: 8px;
}

ion-checkbox {
  --size: 22px;
  --border-color: #ccc;
  --border-radius: 50%;
  margin-right: 12px;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}
